@model PasswordBox.Web.Models.ViewModels.AddDataRequest
@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Yeni Kayıt Ekle</h1>
    </div>

</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Site Adı</label>
            <input type="text" class="form-control" id="websiteName" asp-for="WebsiteName"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="username" asp-for="UserName"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Şifre</label>
            <input type="text" class="form-control" id="password" asp-for="Password"/>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Kaydet</button>
        </div>
    </form>
</div>